@inherits LayoutComponentBase
@inject NavigationManager navigationManager

<MudThemeProvider/>
<MudDialogProvider/>
<MudSnackbarProvider/>


<MudLayout>
    <MudAppBar Elevation="1">
        <MudIconButton Icon="@Icons.Material.Filled.Menu" Color="Color.Inherit" Edge="Edge.Start" OnClick="@((e) => DrawerToggle())" />
        <MudSpacer />
        <MudIconButton Icon="@Icons.Material.Filled.MoreVert" Color="Color.Inherit" Edge="Edge.End" />
    </MudAppBar>
    <MudDrawer @bind-Open="_drawerOpen" Elevation="2" @ref="drawer">
        <MudDrawerHeader Class="d-flex flex-column justify-center">
            <MudText Typo="Typo.h5" Class="mt-1" Align="Align.Center">AriaBlazor</MudText>
            <MudChip Color="Color.Success">Connected</MudChip>
        </MudDrawerHeader>
        <MudNavMenu >
            <div class="d-flex justify-center">
            <MudChip Icon="@Icons.Material.Filled.Add" Color="Color.Primary" OnClick="NavigateToNew">New Task</MudChip>
            </div>
            <MudDivider Class="my-2"></MudDivider>
            <MudNavLink Href="/download" Icon="@Icons.Filled.Downloading">Downloading</MudNavLink>
            <MudNavLink Href="/pending" Icon="@Icons.Filled.AccessTime">Pending</MudNavLink>
            <MudNavLink Href="/finished" Icon="@Icons.Filled.TaskAlt">Finished</MudNavLink>
            <MudDivider Class="my-2"></MudDivider>
            <MudNavGroup Title="Preferences" Icon="@Icons.Filled.Settings" Expanded="true">
                <MudNavLink Href="/appsettings">AriaBlazor</MudNavLink>
                <MudNavLink Href="/profiles">Profiles</MudNavLink>
                <MudNavLink Href="/basicsettings">Basic</MudNavLink>
                <MudNavLink Href="/commonsettings">Common</MudNavLink>
                <MudNavLink Href="/httpsettings">HTTP</MudNavLink>
                <MudNavLink Href="/ftpsettings">FTP</MudNavLink>
                <MudNavLink Href="/btsettings">BitTorrent</MudNavLink>
                <MudNavLink Href="/metalinksettings">Metalink</MudNavLink>
                <MudNavLink Href="/rpcsettings">RPC</MudNavLink>
                <MudNavLink Href="/advancedsettings">Advanced</MudNavLink>
            </MudNavGroup>
            <MudNavLink Href="/about" Icon="@Icons.Filled.ContactSupport">About</MudNavLink>
        </MudNavMenu>
    </MudDrawer>
    <MudMainContent>
        @Body
    </MudMainContent>
</MudLayout>


@code {

    private MudDrawer drawer;

    bool _drawerOpen = true;

    void DrawerToggle()
    {
        _drawerOpen = !_drawerOpen;
    }

    async Task NavigateToNew()
    {
        navigationManager.NavigateTo("/newTask");
        await drawer.OnNavigation();
    }
}